<ul>
<li><a href="">Events</a></li>
<li><a href="">Bazaar</a></li>
<li><a href="">Commons</a></li>
<li><a href="">Register</a></li>
<li><a href="">Blog</a></li>
<li><a href="">Ethos</a></li>
<li><a href="">Location</a></li>
</ul>
